# Local Environment Files
/deployment/envs/local.env
/deployment/envs/prod.env
/deployment/envs/*.env

# Terraform Ignores
.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# OS & IDEs
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs & Temporary Files
*.log
*.pid
tmp/
temp/
